.roster-item {
  padding: 15px;
  height: 150px;
}

.roster-item:nth-of-type(odd){
  background-color: white;
}
.roster-item:nth-of-type(even){
  background-color: #d8d8d8;
}

.roster-item-content > p {
  margin: 0;
  padding: 3px;
}


